@media (max-width: 991px)
    .nav
        &__logo-img
            img
                height: 30px
        &__logo-text
            font-size: 10px
        &__items
            height: 40px
        &__contacts
            text-align: right
            line-height: 0px
            
        &__contacts-phone
            font-size: 12px
        &__contacts-adr
            font-size: 12px

            
    .menu
        width: 350px
        &__link
            font-size: 12px 
    .header
        &__title-img
            height: 150px
            
        &__title
            margin-left: 146px
            font-size: 16px
            margin-top: 180px

    .we-have
        &__icons
            font-size: 17px
        &__column-title
            font-size: 21px
        &__column-descr
            font-size: 13px

    .price
        &__wrapper
            column-gap: 27px
        &__subtitle
            font-size: 22px
        &__text
            font-size: 17px

@media (max-width: 767px)
    .header
        &__title
            margin: 0 auto
            font-size: 20px
            margin-top: 90px
            margin-bottom: 20px
            text-align: center
        &__title-img
            display: block
            height: 100px
            margin: 0 auto
    .button
        margin: 0 auto
        margin-top: 10px
        width: 250px
        height: 40px

    .title
        font-size: 25px
            
    .divider
        max-width: 474px
    .we-have
        &__icons
            font-size: 15px
        &__icon-phone
            font-size: 15px
        &__icon-img
            width: 50px
        &__columns
            flex-direction: column
            justify-content: center
            align-items: center
        &__column-descr
            margin-top: 10px
            margin-bottom: 30px
    .price
        &__wrapper
            grid-template-columns: 180px 128px 150px
            grid-template-rows: 36px 125px 36px 125px 36px 100px
            row-gap: 40px
        &__subtitle
           
            text-align: center
    #subtitle
        grid-column: 1/4

    .map
        width: 100%

