@media (max-width: 991px)
    .nav
        &__logo-img
            img
                height: 30px
        &__logo-text
            font-size: 10px
        &__items
            height: 40px
        &__contacts
            text-align: right
            line-height: 0px
            
        &__contacts-phone
            font-size: 12px
        &__contacts-adr
            font-size: 12px

            
    .menu
        width: 350px
        &__link
            font-size: 12px 
    .header
        &__title-img
            height: 150px
            
        &__title
            margin-left: 146px
            font-size: 16px
            margin-top: 180px

    .we-have
        &__icons
            font-size: 17px
        &__column-title
            font-size: 21px
        &__column-descr
            font-size: 13px

    .price
        &__wrapper
            column-gap: 27px
        &__subtitle
            font-size: 22px
        &__text
            font-size: 17px

    
@media (max-width: 767px)
    .header
        &__title
            margin: 0 auto
            font-size: 20px
            margin-top: 90px
            margin-bottom: 20px
            text-align: center
        &__title-img
            display: block
            height: 100px
            margin: 0 auto
    .nav
        &__items
            height: 25px
        &__logo-img img
            display: none
        &__logo-text
            display: none
        &__contacts
            display: none
    .button
        margin: 0 auto
        margin-top: 10px
        width: 250px
        height: 40px

    .title
        font-size: 25px
            
    .divider
        max-width: 474px
    .we-have
        &__icons
            font-size: 15px
        &__icon-phone
            font-size: 15px
        &__icon-img
            width: 50px
        &__columns
            flex-direction: column
            justify-content: center
            align-items: center
        &__column-descr
            margin-top: 10px
            margin-bottom: 30px
    .price
        &__wrapper
            grid-template-columns: 180px 128px 150px
            grid-template-rows: 36px 125px 36px 125px 36px 100px
            row-gap: 40px
        &__subtitle
           
            text-align: center
    #subtitle
        grid-column: 1/4

    .map
        width: 100%

    .menu
        position: fixed
        flex-direction: column
        justify-content: center
        align-items: center
        top: 0
        left: -100%
        width: 90%
        height: 100vh
        padding: 20px 15px
        background-color: rgba(0,0,0, .8)
        transition: 0.6s all
        &_active
            left: 0
        &__item
            border-right: none
            margin: 20px
        &__link
            font-size: 16px

    .hamburger
        display: block
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        width: 26px
        height: 12px
        span
            display: block
            height: 2px
            width: 100%
            background-color: #fff
            margin-bottom: 3px
            transition: 0.5s all
        &_active
            span
                margin-bottom: -2px
                &:nth-child(1)
                    transform: translateY(5px) rotate(-45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(5px) rotate(45deg)


@media (max-width: 575px)
    .header
        min-height: 400px
        &__title-img 
            height: 80px
    .button
        margin-top: 100px
    .we-have
        &__icons
            flex-direction: column
            align-items: center
        &__icon-text
            margin-bottom: 40px
        &__descr
            font-size: 14px
    .price
        &__wrapper
            grid-template-columns: 65px 87px 122px
            grid-template-rows: 36px 125px 36px 125px 36px 100px
            row-gap: 40px
            column-gap: 10px
        &__subtitle
           text-align: center
        &__text
            font-size: 14px
            span
                display: block
        &__text-end
            font-size: 14px
    #subtitle
        grid-column: 1/4

            
