@media (max-width: 2660px) {
    
    .header__official_2 {
        display: none;
    }    
}

@media (max-width: 1200px) {
    .footer {
        &__info {
            height: 135px;
            width: 350px;
            padding: 10px 0px 10px 0px;
        }
        &__addr {
            margin-bottom: 6px;
            
        }
        &__phone {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        background: url(../img/bg/main_bg_mini.jpg)  center (center/cover) no-repeat;
    }
    .header__official_2 {
        display: none;
    }    
    .promo {
        padding: 21px 0px 93px 0px;
        &__header {
            font-size: 42px;
            

        }
            
    }
    .benefits {
        padding: 70px 0px 78px 0px;
        &__icon {
            width: 230px;
        }
    }
    .carousel {
        &__inner {
            width: 550px;
            img {
                width: 550px;
            }
        }
    }
    .reviews {
        &__img {
            margin-right: 20px;
        }
    }
}        
       
@media (max-width: 767px) {
    .container {
        padding: 0 10px 0 10px;
    }
    
    .header__official_2 {
        display: none;
    }
    .header {
        &__logo {
            width: 180px;
            img {
                width: 100%;
            }
        }
        &__official {
            font-size: 10px;
            font-weight: 500;
            text-align: center;
            color: #fff;
            span {
                display: block;
                font-size: 12px;
                margin-top: 12px;
                line-height: 16px;
                font-weight: 700;
            }
            
        }
        &__phone {
            display: block;
            font-size: 14px;
            font-weight: 700;
            
            color: #fff;
            
            &:hover {
                color: #fff;
                text-decoration: none;   
            }
        }
        &__contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        
    }

    .button {
        width: 135px;
        font-size: 10px;
        &_main {
            width: 250px;
            height: 40px;
            margin-top: 65px;
            font-size: 12px;
        }
        &_submit {
            width: 100%;
            height: 40px;
        }
    }
    
    .promo {
        &__header {
            font-size: 35px;
        }

        &__subheader {
                font-size: 17px;
        }
                
    } 
    
    .title {
        font-size: 23px;
    }

    .benefits {
        &__icon {
            padding: 0 10px 0 10px;
            width: 250px;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: #0d0d0d;

             
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 38px;  
            }
            a {
                color: #ff0000;
                text-transform: uppercase;
                text-decoration: underline;
    
            }
        }
        &__subtitle {
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            color: #0d0d0d;
            margin-bottom: 26px;
            line-height: 17px;
        }
    }
    .consultation {
        min-height: 500px;
        padding: 40px 0 40px 0;
        &__descr {
            margin-top: 30px;
            font-style: 18px;
        }

    }
    .feed-form {
        input {
            height: 40px;

        }
    }
    .carousel {
        padding-bottom: 40px;
        &__inner {
            width: 450px;
            img {
                width: 450px;
            }
        }
    }
    .catalog {
        padding-bottom: 50px;
        &__tabs {
            margin-top: 30px;
        }
        &__tab {
            height: 36px;
            line-height: 34px;
            font-size: 15px;
            margin: 0 1px;
        }
        &__content {
            margin-top: 40px;
        }
    }
    .catalog-item {
        width: 240px;
        img {
            height: 160px;
        }
    }
    .reviews {
        padding-bottom: 70px;
        &__descr {
            font-size: 14px;
            
        }
        &__img {
            margin-right: 20px;
        }
        &__line, &__block {
            margin-bottom: 25px;
        }
        .title {
            margin-bottom: 40px;
        }
        

    }
    .footer{
        height: 525px;
        iframe {
            height: 530px;
        }
        &__info {
            height: 85px;
            width: 270px;
            padding: 5px 0px 5px 0px;
        }
        &__addr {
            font-size: 16px;
            margin-bottom: 3px;
        }
        &__phone {
            font-size: 16px;
            margin-bottom: 3px;
        }
        &__social-item {
            width: 30px;
            height: 30px;
            img {
                height: 16px;
            }
        }
    }
    
    

}

@media (max-width: 575px) {
    
    
    .container {
        padding: 0 10px 0 10px;
    }
    .header__official_2 {
        margin-top: 15px;
        display: block;
        font-size: 10px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        span {
            display: block;
            font-size: 12px;
            color: #fff;
            line-height: 16px;
            font-weight: 700;
        }
    }
    .header {
        &__logo {
            width: 160px;
            img {
                width: 100%;
            }
        }
        &__official {
            display: none;
            
        }

        
        &__phone {
            display: block;
            font-size: 12px;
            font-weight: 500;
            
            color: #fff;
            
            &:hover {
                color: #fff;
                text-decoration: none;   
            }
        }
        &__contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        
    }

    .button {
        width: 115px;
        height: 22px;
        font-size: 10px;
        margin-top: 0px;
        &_main {
            width: 200px;
            height: 35px;
            margin-top: 20px;
            font-size: 12px;
        }
        &_submit {
            width: 280px;
            height: 40px;
        }
    }
    
    .promo {
        min-height: 400px;
        padding-bottom: 30px;
        &__wrapper {
            align-items: center;
            justify-content: space-between;
            
            margin-top: 40px;
        }
        &__header {
            font-size: 30px;
            text-align: center;
        }

        &__subheader {
                font-size: 17px;
                text-align: center;
        }
        &__icons {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            margin-right: 0px;
            width: 290px;
            
        }
        &__icon {
            width: 210px;
            height: 50px;
            text-align: left;
            img {
                display: inline;
                margin-right: 10px;
                width: 12%;
                margin-bottom: 0px;
            
            }
        }
        &__link {
            font-size: 14px;
        }
                
    } 
    
    .title {
        font-size: 16px;

    }
    .title_left {
        line-height: 23px;
        text-align: center;
    }

    .benefits {
        padding: 40px 0 40px 0;
        &__icons {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 25px;
            
        }
        &__icon {
            padding: 0 10px 0 10px;
            width: 250px;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: #0d0d0d;
            margin-bottom: 30px;

             
            img {
                margin-bottom: 5px;  
            }
            a {
                color: #ff0000;
                text-transform: uppercase;
                text-decoration: underline;
    
            }
        }
        &__subtitle {
            font-size: 15px;
            margin-bottom: 7px;
            
        }
    }

    .consultation {
        min-height: 480px;
        &__descr {
            text-align: center;
            font-size: 16px;
            margin-top: 20px;
        }
        
    

    }
    .feed-form {
        align-items: center;
        width: 100%;
        input {
            height: 40px;
            width: 280px;

        }
    }
    .carousel {
        &__inner {
            width: 250px;
            img {
                width: 250px;
            }
        }
    }
    .catalog {
        &__tab {
            line-height: 14px;
            font-size: 11px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .reviews {
        text-align: center;
        
        &__block {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__img {
            margin-right: 0;
        }
        &__wrapper {
            width: 100%;
        }
        &__subtitle {
            text-align: center;
            font-size: 16px;
        }
        &__descr {
            text-align: center;
        }
        
    }
    .footer {
        &__info {
            top: -87px;
        }
    }
    
    .modal {
        min-height: 300px;
        width: 320px;
        padding: 44px 5px 5px 5px;
        &__close {
            right: 8px;
            top: 8px;
        }
        .feed-form {
            input {
                height: 35px;
                margin-bottom: 8px;
    
            }
        }

    }
    
    

}
