*
  font-family: 'PT Sans Narrow', sans-serif
  font-family: 'Roboto', sans-serif
  font-family: 'Roboto Condensed', sans-serif
  box-sizing: border-box
  font-weight: 700
  font-style: normal
  font-size: 15px
  color: #000
  margin: 0
  text-decoration: none
  padding: 0

li
  list-style: none

body
  background-color: #fff
  background-image: url(../img/bg/g.png)
  background-attachment: fixed

.container
  padding: 0 10px

.btn
  display: flex
  justify-content: center
  align-items: center
  padding: 17.5px 24px
  width: 207px
  height: 48px
  background: #BB8E34
  box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.25)
  border-radius: 6px
  border-style: none
  font-family: 'PT Sans Narrow'
  font-weight: 700
  font-size: 14px
  line-height: 20px
  text-align: center
  letter-spacing: 0.008em
  text-transform: uppercase
  color: #FFFFFF
  cursor: pointer


.header-container
  display: flex
  justify-content: space-between
  max-width: 1300px
  margin: 0 auto
  padding: 0 10px 0 10px

.header
  // display: none
  background: url('../img/bg/menu-bg.png') center center/cover no-repeat
  height: 181px
  padding-top: 41px

  &__menu

  &__title
    font-family: 'Roboto Condensed'
    font-weight: 700
    font-size: 23px
    line-height: 23px
    letter-spacing: 0.006em
    color: #F3F3F3
    margin-left: 15px
    margin-top: 7px
    span
      display: flex
      font-family: 'Roboto'
      font-weight: 400
      font-size: 14px
      line-height: 23px
      letter-spacing: -0.01em
      text-transform: uppercase
      font-feature-settings: 'cpsp' on
      color: #C9CCCF
      margin-top: 3px
  &__subtitle
    font-family: 'PT Sans Narrow'
    font-weight: 700
    font-size: 15.1616px
    line-height: 23px
    letter-spacing: 0.008em
    text-transform: uppercase
    color: #FAFAFA
    margin-left: 32px
    margin-top: 3px
    span
      display: flex
      font-family: 'PT Sans Narrow'
      font-weight: 400
      font-size: 13.9953px
      line-height: 23px
      text-transform: uppercase
      color: #C9CCCF

  &__contacts
    // width: 508px
    padding-right: 53px
    // display: flex
    // flex-direction: column
    // justify-content: right


  &__address
    position: relative

    font-family: 'PT Sans Narrow'
    font-weight: 400
    font-size: 13px
    line-height: 20px
    letter-spacing: 0.008em
    color: #FAFAFA
    margin-top: 4px
    text-align: right
    &::before
      position: absolute
      content: ''
      background: url('../icons/point.svg') center center/cover no-repeat
      width: 16px
      height: 20px
      left: 121px
      top: -1px   


  &__contacts-items
    display: flex
    margin-top: 35px

  &__contacts-item
    position: relative
    margin-left: 60px
    &::before
      position: absolute
      content: ''
      background: url('../icons/mail.svg') center center/cover no-repeat
      width: 24px
      height: 24px
      left: -32px
      top: 5px

  &__phons
    position: relative
    &::before
      position: absolute
      content: ''
      background: url('../icons/headphones.svg') center center/cover no-repeat
      width: 24px
      height: 24px
      left: -32px
      top: 3px   
    
    
  &__phone
    display: block
    font-family: 'PT Sans Narrow'
    font-weight: 700
    font-size: 13px
    line-height: 13px
    letter-spacing: 0.008em
    text-transform: uppercase
    color: #FAFAFA
    margin-bottom: 7px
    &:nth-child(2)
      color: #C9CCCF


  &__button
    width: 110px
    height: 32px
    border: 1px solid #BB8E34
    font-weight: 700
    font-size: 12px
    line-height: 14px
    color: #FAFAFA
    padding: 0 12px
    margin-left: 20px


  &__schedule
    font-family: 'Roboto'
    font-weight: 400
    font-size: 14px
    line-height: 14px
    color: #C9CCCF
    margin-bottom: 3px

  &__mail
    font-family: 'Roboto'
    font-weight: 400
    font-size: 14px
    line-height: 14px
    font-feature-settings: 'cpsp' on
    color: #FFFFFF




.menu-list
  display: flex
  margin-bottom: 20px
  // width: 584px
  justify-content: space-between
  gap: 0 60px
  margin-left: 85px

.menu-item

.menu-link
  display: block
  font-family: 'PT Sans Narrow'
  font-weight: 700
  font-size: 15px
  line-height: 22px
  letter-spacing: 0.01em
  color: #FAFAFA
  

.logo-items
  display: flex

.logo
  &__img

.title
  font-family: 'PT Sans Narrow'
  font-weight: 700
  font-size: 22px
  line-height: 22px
  text-align: center
  letter-spacing: 0.008em
  text-transform: uppercase
  color: #666666
  span
    font-family: 'PT Sans Narrow'
    font-weight: 400
    font-size: 22px
    line-height: 22px
    text-align: center
    letter-spacing: 0.008em
    text-transform: uppercase
    color: #666666

.left
  text-align: left


.main
  // display: none
  max-width: 1280px
  // height: 654px
  // height: 100vh
  margin: 0 auto
  background: url('../img/bg/main-bg.png') center center/cover no-repeat
  padding: 42px 10px 0 10px
  &__content
    width: 675px

  &__title
    font-family: 'PT Sans Narrow'
    font-weight: 400
    font-size: 22px
    line-height: 22px
    letter-spacing: 0.008em
    text-transform: uppercase
    color: #666666
    span
      font-family: 'PT Sans Narrow'
      font-weight: 700
      font-size: 22px
      line-height: 22px
      letter-spacing: 0.008em
      text-transform: uppercase
      color: #666666


  &__subtitle
    font-family: 'PT Sans Narrow'
    font-weight: 700
    font-size: 36px
    line-height: 40px
    letter-spacing: 0.008em
    text-transform: uppercase
    color: #BB8E34
    margin-top: 22px

  &__icons
    display: flex
    margin-top: 55px
    margin-bottom: 72px
    gap: 0 70px
    

  &__icon
    text-align: center
    width: 127px
    &:nth-child(3)
      width: 150px

  &__icon-img

  &__inon-descr
    font-family: 'PT Sans Narrow'
    font-weight: 400
    font-size: 14px
    line-height: 16px
    letter-spacing: 0.008em
    color: #666666
    text-align: center
    margin-top: 8px

  &__descr
    font-family: 'PT Sans Narrow'
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 23px
    letter-spacing: 0.008em
    text-transform: uppercase
    color: #666666
    span
      font-family: 'PT Sans Narrow'
      font-style: normal
      font-weight: 400
      font-size: 20px
      line-height: 23px
      letter-spacing: 0.008em
      text-transform: uppercase
      color: #666666

  &__btn
    margin-top: 20px


  &__text
    position: relative
    width: 665px
    // height: 78px
    background: #FAFAFA
    box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.25)
    border-radius: 6px
    font-family: 'PT Sans Narrow'
    font-weight: 400
    font-size: 13px
    line-height: 13px
    letter-spacing: 0.008em
    color: #757575
    margin-top: 32px
    padding: 14px 5px 14px 12px
    &::before
      position: absolute
      content: '*'
      width: 16px
      height: 20px
      left: 7px
      top: 12px

.container

.calculation
  // height: 1000px
  width: 100%
  padding: 20px 0 40px 0
  &__box-1
    max-width: 1920px
    height: 211px
    background-color: #FAFAFA
    box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.25)
    border-radius: 6px
    padding-top: 25px
    

  
  &__tabs
    max-width: 1280px
    display: flex
    justify-content: space-evenly
    // gap: 0 128px
    margin: 0 auto
    margin-top: 30px
  &__tab
    position: relative
    width: 67px
    text-align: center
    cursor: pointer
    &--active
      p
        color: #BB8E34
        text-decoration: underline
        font-weight: 700
      svg > *
        stroke: #BB8E34
      svg
        .y
          // fill: none
        
      &::after
        position: absolute
        content: ''
        background: url('../icons/calculation/narrow.svg') center center/cover no-repeat
        width: 34px
        height: 37px
        left: 18px
        top: 130px 
        
      

      

  &__tab-img
    // stroke: #BB8E34

  &__tab-descr
    font-family: 'PT Sans Narrow'
    font-weight: 400
    font-size: 14px
    line-height: 16px
    letter-spacing: 0.008em
    color: #666666

  &__descr
    display: none
    width: 1280px
    height: 68px
    background: #FFFFFF
    box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.25)
    border-radius: 6px
    margin: 0 auto
    padding: 10px 50px 10px 50px
    margin-top: 20px
    font-family: 'PT Sans Narrow'
    font-weight: 400
    font-size: 20px
    line-height: 24px
    letter-spacing: 0.008em
    color: #666666
    &--active
      display: block
      


  &__box-2
    width: 100%
    background: #FAFAFA
    box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.25)
    border-radius: 6px
    margin-top: 20px
    padding: 40px 0 40px 0


  &__subtitle

  &__img
    display: block
    margin: 0 auto
    margin-top: 20px


.img-svg path
  fill: #BB8E34






