*
  font-family: 'PT Sans Narrow', sans-serif
  font-family: 'Roboto', sans-serif
  font-family: 'Roboto Condensed', sans-serif
  box-sizing: border-box
  font-weight: 700
  line-height: none
  font-size: 15px
  color: #000
  margin: 0
  text-decoration: none

li
  list-style: none

body
  background-color: #fff
  background-image: url(../img/bg/g.png)
  background-attachment: fixed

.header
  background: url('../img/bg/menu-bg.jpg') center center/cover no-repeat
  height: 181px
  padding-top: 41px
  &__menu

  &__title
    span
      display: flex

  &__subtitle
    span
      display: flex

  &__contacts

  &__adress

  &__contacts-items
    display: flex

  &__phons

  &__phone
    display: block

  &__button

  &__schedule

  &__mail

.header-container
  display: flex
  justify-content: space-between
  width: 1280px
  margin: 0 auto


.menu-list
  display: flex
  margin-bottom: 20px

.menu-item

.menu-link

.logo-items
  display: flex

.logo
  &__img


