*
  margin: 0
  box-sizing: border-box
  font-family: "Montserrat", sans-serif
  font-size: 16px
  color: #2E363E

.container
  max-width: 1200px
  padding: 0 10px 0 10px
  margin: 0 auto
.logo
  display: flex
  align-items: center
  &__text
    font-weight: 500
    font-size: 21px
    line-height: 143%
    color: #F2F6FA
    margin-left: 20px
.header
  height: 100vh
  background: url('../img/main-bg.jpg') center center/cover no-repeat
  &__top
    height: 86px
    width: 100%
    display: flex
    justify-content: space-between
  &__contacts
    display: flex
    justify-content: space-between
    align-items: center
    width: 768px

  &__mail
    display: block
    position: relative
    font-weight: 400
    font-size: 12px
    line-height: 150%
    color: #F2F6FA
    text-decoration: none
    &::before
      content: ""
      position: absolute
      display: block
      background: url('../icons/email.svg') center center/cover no-repeat
      height: 17px
      width: 17px
      left: -29px
  &__address
    position: relative
    font-weight: 400
    font-size: 12px
    line-height: 150%
    color: #F2F6FA
    &::before
      content: ""
      position: absolute
      display: block
      background: url('../icons/point.svg') center center/cover no-repeat
      height: 23px
      width: 17px
      left: -25px
  &__phone-link
    position: relative
    display: block
    font-weight: 700
    font-size: 18px
    line-height: 152%
    color: #F2F6FA
    text-decoration: none
    &::before
      content: ""
      position: absolute
      display: block
      background: url('../icons/phone.svg') center center/cover no-repeat
      height: 17px
      width: 17px
      left: -29px
      top: 4px
  &__phone-text
    font-weight: 400
    font-size: 12px
    line-height: 150%
    color: #F2F6FA
  &__content
    width: 630px
    margin-top: 113px
  &__element
    display: flex
    width: 132px
    height: 37px
    background: #F2F6FA
    border-radius: 5px
    justify-content: center
    align-items: center
    font-weight: 400
    font-size: 11px
    letter-spacing: 0.1em
    text-transform: uppercase
    color: #2E363E
  &__title
    font-weight: 700
    font-size: 48px
    line-height: 60px
    letter-spacing: -1px
    color: #F2F6FA
    margin-top: 24px
  &__descr
    font-weight: 400
    font-size: 24px
    line-height: 143%
    color: #F2F6FA
    margin-top: 24px
  &__wrapper
    display: flex
    
  &__btn
    width: 277px
    height: 88px
    background: #FFC700
    border-radius: 8px
    margin-top: 40px
  &__btn-text
    font-weight: 500
    font-size: 18px
    display: flex
    align-items: center
    color: #2E363E
    width: 155px
    margin-left: 20px


















@import "media"











  

  

  
        

    


  
  
    
    
