*
  margin: 0
  box-sizing: border-box
  font-family: "Montserrat", sans-serif
  font-size: 16px
  color: #2E363E

.container
  max-width: 1200px
  padding: 0 10px 0 10px
  margin: 0 auto
.logo
  display: flex
  align-items: center
  &__text
    font-weight: 500
    font-size: 21px
    line-height: 143%
    color: #F2F6FA
    margin-left: 20px
.btn
  background: #FFC700
  border-radius: 8px
  text-align: center
  align-items: center
  font-weight: 500
  font-size: 18px
  border-style: none

.header
  height: 100vh
  background: url('../img/main-bg.jpg') center center/cover no-repeat
  &__top
    height: 86px
    width: 100%
    display: flex
    justify-content: space-between
  &__contacts
    display: flex
    justify-content: space-between
    align-items: center
    width: 768px

  &__mail
    display: block
    position: relative
    font-weight: 400
    font-size: 12px
    line-height: 150%
    color: #F2F6FA
    text-decoration: none
    &::before
      content: ""
      position: absolute
      display: block
      background: url('../icons/email.svg') center center/cover no-repeat
      height: 17px
      width: 17px
      left: -29px
  &__address
    position: relative
    font-weight: 400
    font-size: 12px
    line-height: 150%
    color: #F2F6FA

    &::before
      content: ""
      position: absolute
      display: block
      background: url('../icons/point.svg') center center/cover no-repeat
      height: 23px
      width: 17px
      left: -25px
      top: -7px
  &__phone-link
    position: relative
    display: block
    font-weight: 700
    font-size: 18px
    line-height: 152%
    color: #F2F6FA
    text-decoration: none
    &::before
      content: ""
      position: absolute
      display: block
      background: url('../icons/phone.svg') center center/cover no-repeat
      height: 17px
      width: 17px
      left: -29px
      top: 4px
  &__phone-text
    font-weight: 400
    font-size: 12px
    line-height: 150%
    color: #F2F6FA
  &__content
    width: 630px
    margin-top: 113px

  &__element
    display: flex
    width: 132px
    height: 37px
    background: #F2F6FA
    border-radius: 5px
    justify-content: center
    align-items: center
    font-weight: 400
    font-size: 11px
    letter-spacing: 0.1em
    text-transform: uppercase
    color: #2E363E
  &__title
    font-weight: 700
    font-size: 48px
    line-height: 60px
    letter-spacing: -1px
    color: #F2F6FA
    margin-top: 24px
  &__descr
    font-weight: 400
    font-size: 24px
    line-height: 143%
    color: #F2F6FA
    margin-top: 24px
  &__wrapper
    display: flex
    margin-top: 40px
  &__btn
    width: 277px
    height: 88px
  &__btn-text
    display: flex
    align-items: center
    width: 155px
    margin-left: 20px
    font-weight: 400
    font-size: 15px
    line-height: 160%
    color: #FFFFFF
.title
  font-weight: 500
  font-size: 48px
  line-height: 60px
  letter-spacing: -1px
  color: #2E363E
  text-align: center
.catalog
  padding: 20px 0 100px 0
  &__content
    display: grid
    grid-template-columns: repeat(auto-fill, 380px)
    // justify-content: center
    // flex-wrap: wrap
    column-gap: 20px
    justify-content: center
    margin-top: 80px
  &__card
    padding-bottom: 50px
    // margin-right: 6px
    // margin-left: 6px
    width: 380px
    filter: drop-shadow(2px 8px 16px rgba(194, 198, 208, 0.06))
  &__title
    font-weight: 700
    font-size: 24px
    margin-top: 50px
    margin-left: 44px
  &__descr
    font-weight: 400
    font-size: 16px
    line-height: 150%
    margin-top: 12px
    margin-left: 44px
  &__price
    font-weight: 500
    font-size: 24px
    margin-top: 24px
    margin-left: 44px
  &__btn
    width: 163px
    height: 68px
    margin-top: 16px
    margin-left: 44px
.download
  height: 1200px
  padding-top: 365px
  background: url('../img/bg2.jpg') center center/cover no-repeat
  &__inner
    width: 479px
    margin-right: 80px
  &__element
    width: 230px
    height: 37px
    background: #F2F6FA
    border-radius: 5px
    font-weight: 400
    font-size: 11px
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 24px
  &__title
    color: #F2F6FA
    text-align: left

  &__descr
    font-weight: 400
    font-size: 21px
    line-height: 143%
    letter-spacing: -0.2px
    color: #F2F6FA
    margin-top: 24px
    max-width: 436px
  &__btn
    width: 320px
    height: 88px
    margin-top: 40px
.flex
  display: flex
  justify-content: end

.woman
  height: 765px
  padding-top: 64px

  background: url('../img/woman2.jpg') center center/cover no-repeat

  &__inner
    width: 479px
    // margin-right: 80px
  &__element
    width: 191px
    height: 37px
    background: #F2F6FA
    border-radius: 5px
    font-weight: 400
    font-size: 11px
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 24px
  &__title
    color: #2E363E
    text-align: left

  &__descr
    font-weight: 400
    font-size: 18px
    line-height: 150%
    letter-spacing: -0.2px
    color: #2E363E
    margin-top: 36px
    max-width: 436px
    margin-left: 22px
    p
      position: relative
      margin-bottom: 22px
      &::before
        content: ""
        position: absolute
        display: block
        width: 10px
        height: 10px
        border-radius: 100%
        background-color: #565E66
        top: 8px
        left: -20px

  &__btn
    width: 308px
    height: 88px
    margin-top: 50px
    color: #2E363E
.slider
  position: relative
  padding-top: 320px

  height: 1300px
  background: url('../img/end-bg.jpg') center center/cover no-repeat
  &__title
    font-weight: 700
    font-size: 36px
    text-align: center
    color: #F2F6FA
  &__items

    margin-top: 60px
    // margin: 0 auto
    // width: 100%
    // display: flex
    // align-items: center
  &__item

    width: 933px
    height: 485px
    margin-left: 25px
    margin-right: 25px
    background: #FFF
    opacity: 0.4
    margin-top: 75px
    transition: all 0.3s ease 0s

    // display: flex
    // justify-content: center
    align-items: center
  &__content
    width: 706px
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #fff
    margin: 0 auto
    margin-top: 70px

  &__text
    width: 360px
  &__text-title
    position: relative
    font-weight: 500
    font-size: 23.7458px
    line-height: 143%

    &::before
      content: ""
      position: absolute
      width: 32px
      height: 32px
      top: -63px
      left: 1px
      background: url('../icons/cc.svg') center center/cover no-repeat

  &__text-descr
    font-weight: 400
    font-size: 12px
    line-height: 170%
    margin-top: 19px
    margin-bottom: 19px
  &__text-link

    font-weight: 400
    font-size: 11px
    line-height: 150%
    color: #4A94FF

    border-bottom: 1px dashed
    text-decoration: none
  &__pict
    span
      display: block
      text-align: center
      font-weight: 400
      font-size: 13px
      line-height: 170%
      text-align: center
      color: #A6AEB6
      margin-top: 6px
  &__img
    max-width: 300px
    max-height: 300px
  &__img-descr
    font-weight: 500
    font-size: 16px
    line-height: 143%
    text-align: center
    margin-top: 24px

// .slick-center
  // width: 1180px
  // height: 615px
  // opacity: 1
  // zoom: 1
  // margin-top: 0px
  // text-align: center
  // display: inline-block
.slick-slide
  padding-top: 20px
.slick-center
  width: 1180px
  height: 615px
  background: #FFF
  opacity: 1
  margin-top: 0px
  padding-top: 0px
  .slider
    &__text
      width: 460px
    &__text-title
      font-size: 30px
    &__content
      width: 894px
      // padding-top: 70px
    &__text-descr
      font-size: 15px
      line-height: 170%
    &__img
      width: 380px
      height: 380px
    &__img-descr
      margin-top: 30px

.slick-prev
  position: absolute
  background-color: transparent
  border: none
  top: 683px
  left: 850px
  z-index: 1
  cursor: pointer
  img
    width: 66px
    height: 66px
.slick-next
  position: absolute
  background-color: transparent
  border: none
  top: 683px
  left: 950px
  z-index: 1
  cursor: pointer
  img
    width: 66px
    height: 66px
.orders
  padding-top: 132px
  &__subtitle
    font-weight: 400
    font-size: 24px
    line-height: 143%
    text-align: center
    margin-top: 15px
  &__content
    max-width: 1920px
    margin: 0 auto
    margin-top: 80px
    display: grid
    grid-template-columns: repeat(auto-fill, 634px)
    column-gap: 9px
    row-gap: 9px
    justify-content: center
  &__content-img
.footer
  padding: 290px 0 80px 0
  background: url('../img/footer-bg.jpg') center center/cover no-repeat
  &__inner
    padding-top: 70px
    width: 1180px
    height: 394px
    background: #FFFFFF
    border-radius: 8px
    margin: 0 auto
  &__title
    font-weight: 700
    font-size: 36px
    line-height: 133%
    text-align: center
  &__descr
    font-weight: 400
    font-size: 21px
    line-height: 143%
    text-align: center
    letter-spacing: -0.2px
    margin-top: 12px

  &__form
    margin-top: 36px
  &__form-wrap
    width: 740px
    display: flex
    justify-content: space-between
    margin: 0 auto
  &__frame
    width: 360px
    height: 85px
    background: #F2F6FA
    border-radius: 8px
    display: flex
    justify-content: center
    align-items: center
  &__submit
    width: 360px
    height: 85px
    border-radius: 8px
  &__check-wrap
    display: flex
    justify-content: center
    margin-top: 26px
  &__check-text, &__check-link
    font-weight: 400
    font-size: 11px
    line-height: 130%
    color: #7E868E
    margin-left: 7px
  &__check-link
    cursor: pointer


@import "media"
