*
  box-sizing: border-box
  // font-family: 'Raleway', sans-serif
  font-family: 'Rubik', sans-serif
  font-weight: 700
  line-height: none
  font-size: 15px
  color: #E5E5E5

body
  margin: 0
  // height: 100px
  


nav
   
  
  position: fixed
  width: 100%
  z-index: 10
  
  
  // background-color: red
.nav-wrapper
  display: flex
  justify-content: space-between
  align-items: center
  width: 1620px
  height: 47px
  margin: 0 auto
  margin-top: 60px
.logo
  font-style: normal
  font-weight: 700
  font-size: 40px
  line-height: 47px
  color: #E5E5E5
  text-transform: uppercase
  text-decoration: none
  margin: 0
  &__img
    width: 215px
    height: 47px
    
.menu
  display: flex
  justify-content: space-between
  width: 287px
  padding: 0
  margin: 0
  &__list
    list-style-type: none
    margin: 0
    &--active
      color: #e48282

      

section
  margin: 0 auto
  margin-top: 0
.main
  display: block
  position: relative
  width: 1920px
  // height: 1100px
  height: 100vh
  background: url('../img/bg/main-bg.jpg') center center/cover no-repeat
  background-size: 122%
  margin-top: 0
  padding-top: 330px
  transition: 2s all
  &__title
    display: block
    // display: none
    position: absolute
    font-family: 'Raleway'
    font-style: normal
    font-weight: 700
    font-size: 150px
    line-height: 176px
    // width: 100px
    // height: 100px
    // text-align: center
    color: #FFFFFF
    top: 300px
    right: 550px
    // z-index: 2
    transition: 3s all

.main-bs100
  background-size: 100%
  transition: 2s all

.second
  // display: none
  display: flex
  justify-content: space-evenly
  position: absolute
  width: 1920px
  height: 100vh
  background: #021023
  top: 1500px
  // z-index: 3
  transition: 1.5s all
  // opacity: 0

.third
  display: flex
  justify-content: space-around
  // display: none
  position: absolute
  width: 1920px
  height: 100vh
  background: #253d61
  top: 1500px
  // z-index: 3
  transition: 1.5s all

.balloon-1
  display: block
  position: absolute
  top: 900px
  left: 200px
  transition: 5s all

.balloon-2
  display: block
  position: absolute
  top: 600px
  left: 400px
  transition: 3.3s all

.balloon-3
  display: block
  position: absolute
  top: 1000px
  left: 800px
  transition: 3s all

.box
  width: 300px
  height: 500px
  background-color: #fff
  margin-top: 250px

.wrap
  position: relative
  width: 1920px
  height: 100vh
  margin: 0 auto
  overflow: hidden

.active
  // display: block
  // transition: top 1s ease-out 0.5s
  // transition: 1.5s all
  top: 0px
  // display: flex
  // z-index: 9
  // opacity: 1

.active-title
  top: -270px
  // transition: 1.5s all
  // z-index: 2

.active-balloon-2
  top: -270px


    





