// @media (max-width: 1400px)

// @media (max-width: 1200px)

// @media (max-width: 991px)

// @media (max-width: 767px)

@media (max-width: 575px)
  .main
    width: 360px

    
    .tabs
      top: 207px
      right: 4px
      position: absolute
      z-index: 6
      &__list
        display: block
        position: relative
        font-size: 20px
        font-weight: 700
        line-htight: 24px
        width: 20px
        height: 24px
        color: #F5F5F5
        // color: #6A6A6A
        list-style-type: none
        cursor: pointer
        &:before
          // position: absolute
          // content: ""
          width: 6px
          height: 6px
          // border-radius: 50%
          top: 7px
          right: 12px
          // top: -15px
          // right: 7px
          // background-color: #6A6A6A
      &__list--active
        // color: #5337FF
        &:before
          // position: absolute
          // content: ""
          width: 6px
          height: 6px
          // border-radius: 50%
          top: 7px
          right: 12px
          // top: -15px
          // right: 7px
          // background-color: #5337FF
        &:after
          // position: absolute
          // content: ""
          width: 12px
          height: 12px
          top: 3px
          right: 8px
          // border-radius: 50%
          // border: 1px solid #5337FF

    .l
      display: none

    .l--active
      // display: none
      position: relative
      right: 25px
      display: block
      color: #5337FF
      font-size: 20px
      font-weight: 700
      line-htight: 24px
      width: 20px
      height: 24px

    .logo
      display: block
      margin: 0px 0 0px 0
      width: 54px
      height: 16px
      
    .logo-center
      margin: 0 auto 


    .title
      display: block
      // width: 320px
      font-size: 16px
      
      line-height: 20px

    .jc-center
      text-align: center
      

    .container
      // display: flex
      // flex-direction: column
      // justify-content: space-between
      width: 360px
      height: 560px
      padding: 16px 16px 0px 16px
      margin: 0 auto

    .label-orng
      // display: flex
      // justify-content: center
      // align-items: center
      width: 100px
      height: 20px
      // background-color: #FF6700
      border-radius: 6px
      font-size: 10px
      line-height: 12px
      // font-weight: 500
      // color: #fff

    .label-orng-15deg
      // position: absolute
      top: -6px
      right: 66px
      // transform: rotate(-15deg)

    .links-store
      position: absolute
      display: flex
      justify-content: space-between
      // position: relative
      // margin-top: 61px
      width: 229px
      top: 390px
      left: 65px
      z-index: 5
      &__app
        width: 106px
        height: 40px
        margin-right: 0px
      &__app-img
        display: block
        width: 106px
        height: 40px

      &__goo
        width: 115px
        height: 40px
      &__goo-img
        display: block
        width: 115px
        height: 40px

    .down-link
      display: flex
      justify-content: center
      align-items: center
      font-weight: 500
      font-size: 14px
      line-height: 20px
      letter-spacing: 0.25px
      text-decoration: none
      cursor: pointer
      // margin-top: 81px
      &__img
        width: 24px
        height: 24px
        margin-right: 8px

    .block-descr
      width: 300px
      margin-top: 12px
      margin: 0 auto
      margin-top: 12px
    .d-f
      display: flex

    .screen-1
      // display: block
      min-width: 360px
      height: 560px
      background: url('../img/Mobile360-01.jpg') center center/cover no-repeat
      background-position-y: 0px
      // margin: 0 auto
      // background-color: #F5F5F5
      padding: 0 0px 0 0px
      margin: 0 auto
      &__inner
        // height: 93%
        // display: flex
        // flex-direction: column
        // justify-content: space-between
      &__wrapper
        margin-top: 0px
        // display: block
        // justify-content: space-between
      &__img
        display: block
        position: absolute
        width: 155px
        height: 313px
        display: block
        // margin-right: 96px
        margin-right: 0px

        margin-top: 0px
        left: 160px
        top: 155px

    .logo-top
      display: flex
      justify-content: space-between
      align-items: center
      width: 328px
      img
        // margin: 0
      &__labels
        display: flex
        justify-content: end
        // align-items: center
        width: 240px

    .label-app
      display: block
      width: 56px
      height: 28px
      margin-left: 8px

    .label-g-pl
      display: block
      width: 56px
      height: 28px
      margin-left: 4px

    .title-mt
      margin-top: 48px

    .line
      width: 72px
      height: 2px
      background-color: #090909
      border-radius: 4px
      margin: 0 auto
      margin-top: 18px

    .down-wrapper
      position: relative
      display: flex
      flex-direction: column
      justify-content: end
      top: 0px
      // width: 360px
      width: 100%

      // height: 133px
      background-color: #F5F5F5
      // background-color: red
      padding-bottom: 8px

    .h-133px
      height: 133px


    


    .screen-2
      width: 360px
      height: 560px
      padding: 0 0px 0 0px
      &__cards
        display: block
        width: 292px
        margin-top: 16px
        height: 356px
      &__card
        width: 270px
        height: 356px
        
      &__card-inner
        padding-top: 16px
        padding-left: 16px
        
      &__card-numb
        font-size: 40px
        line-height: 40px
        
      &__card-descr
        font-size: 16px
        margin-top: 16px
        line-height: 20px
        
      &__card-pict
        width: 270px
        height: 196px
        
        border-radius: 20px
        padding: 16px 16px 0 16px
        
      &__card-2
        
      &__img
        width: 270px
        height: 228px
        border-radius: 20px
      &__card-3
        
      &__img3
        width: 236px
        height: 228px
        margin-left: 17px

    
    .screen-2__cards-normal
      display: none
    .screen-2__cards-mobile
      display: block
        

    .card-title
      font-size: 16px
      line-height: 20px

    .label-white
      font-size: 10px
      width: 103px
      height: 20px
      border-radius: 6px



    .screen-3
      width: 360px
      height: 560px
      padding: 0 0px 0 0px
      &__title
        width: 290px
        
      &__slider-wrapper
        width: 299px
        .slick-prev
          // display: none
          // top: 525px
        
      &__slider

    .slide
      width: 270px
      height: 183px
      border-radius: 20px
      padding: 16px 16px 0 16px


    .screen-4
      &__title
        width: 290px
      &__cards
        justify-content: flex-start
        margin-top: 20px
        height: 200px
        
      &__card
        // background-color: #c26868cc
        background-color: rgba(255, 255, 255, 0.88)
        // background-color: #ffffffcc
        border: 1px solid #e4d0d0
        cursor: pointer
        // transition: 1s ease
        // transition-duration: 1s
        // transition: 1s all
        
      &__card-1
        position: relative
        top: 0px
        right: 0
        left: 0
        // transition: 1s all

        // z-index: 
        &:focus
          transition: 1s all
          z-index: 50
      &__card-2
        position: relative
        top: 20px
        right: 0px
        left: -120px
        // z-index: 
        &:focus
          z-index: 52
      &__card-3
        position: relative
        top: 40px
        right: 0px
        left: -240px
        // z-index: 
        &:focus
          z-index: 54
      &__card-img
        display: none

    .screen-5
      &__card
        width: 299px
        height: 168px
        border-radius: 20px
        padding: 16px 0 16px 16px
        margin-top: 80px
      &__card-title
        font-size: 14px
        line-height: 20px
      &__card-descr
        font-size: 16px
        line-height: 20px
      &__title
        margin-top: 24px
        width: 253px
        font-size: 16px
        line-height: 20px

    .screen-6
      &__label-club
        width: 93px
        height: 28px
        border-radius: 6px
        margin-top: 72px
      &__title
        margin-top: 16px
        width: 200px
      &__inner
        margin-top: 16px
      &__img
        display: none
      &__card
        width: 299px
        height: 200px
        border-radius: 20px
        padding: 16px 16px
      &__card-name
        p
          font-size: 14px
          margin-bottom: 12px
          line-height: 16px
          &:last-child
            margin-top: 20px
            line-height: 16px
      &__card-price
        p
          font-size: 14px
          margin-bottom: 12px
          line-height: 16px
          &:last-child
            margin-top: 20px
            line-height: 16px

    .fix
      position: relative

    .screen-7
      &__slider-wrapper
        width: 300px
        margin-top: 24px
        .slick-prev
          top: 150px
          left: 28px
          width: 32px
          height: 32px
        .slick-next
          top: 150px
          left: 268px
          width: 32px
          height: 32px
          z-index: 10
      &__slide
        flex-direction: column-reverse
        width: 300px
        // justify-content: center
        // align-items: center
        padding: 0
      &__text
        width: 290px
        padding-top: 0px
        margin-top: 24px
        
      &__title
        font-size: 16px
        line-height: 20px
        text-align: left
        margin: 0 auto
      &__descr
        font-size: 16px
        line-height: 20px
        margin-top: 8px
      &__img-wrapper
        height: 308px
        width: 176px
      &__img
        display: block
        height: 308px
        width: 176px
        margin-left: 80px
        // margin: 0 auto

          


      
