// @media (max-width: 1400px)

// @media (max-width: 1200px)

// @media (max-width: 991px)

// @media (max-width: 767px)

@media (max-width: 575px)
		.main
			
			// position: relative
			width: 360px
			// margin: 0 auto
			// z-index: 5

		.tabs
			top: 276px
			right: 1px
			position: absolute
			z-index: 6
			&__list
				display: block
				position: relative
				font-size: 20px
				font-weight: 700
				line-htight: 24px
				width: 20px
				height: 24px
				color: #F5F5F5
				list-style-type: none
				cursor: pointer
				&:before
					position: absolute
					content: ""
					width: 11px
					height: 11px
					border-radius: 50%
					top: 7px
					right: 34px
					background-color: #6A6A6A
			&__list--active
				color: #5337FF
				&:before
					position: absolute
					content: ""
					width: 11px
					height: 11px
					border-radius: 50%
					top: 7px
					right: 34px
					background-color: #5337FF
				&:after
					position: absolute
					content: ""
					width: 15px
					height: 15px
					top: 4px
					right: 31px
					border-radius: 50%
					border: 1px solid #5337FF

		.logo
			margin: 0px 0 0px 0
			width: 54px
			height: 16px

		.title
			// font-size: 40px
			// line-height: 44px
			
		.container
			// display: flex
			// flex-direction: column
			// justify-content: space-between
			// max-width: 360px
			// height: 570px
			padding: 16px 10px 6px 10px
			// margin: 0 auto

		.label-orng
			display: flex
			justify-content: center
			align-items: center
			width: 144px
			height: 32px
			background-color: #FF6700
			border-radius: 8px
			font-size: 14px
			font-weight: 500
			color: #fff

		.label-orng-15deg
			position: absolute
			top: -10px
			right: 155px
			transform: rotate(-15deg)

		.links-store
			position: relative
			margin-top: 61px
			&__app
				width: 179px
				height: 64px
				margin-right: 24px
			&__goo
				width: 200px
				height: 64px

		.down-link
			display: flex
			justify-content: center
			align-items: center
			font-weight: 500
			font-size: 14px
			line-height: 20px
			letter-spacing: 0.25px
			text-decoration: none
			cursor: pointer
			&__img
				width: 24px
				height: 24px
				margin-right: 8px

		.block-descr
			// width: 413px
			margin-top: 12px


		.screen-1
			display: block
			max-width: 360px
			height: 570px
			background: url('../img/Mobile360-01.jpg') center center/cover no-repeat
			margin: 0 auto
			background-color: #F5F5F5
			&__inner
				height: 93%
				display: flex
				flex-direction: column
				justify-content: space-between
			&__wrapper
				margin-top: 33px
				display: block
				justify-content: space-between
			&__img
				width: 264px
				height: 534px
				display: block
				margin-right: 96px

		.logo-top
			display: flex
			justify-content: center
			width: 360px
			&__labels
				display: flex
				align-items: center
				width: 328px

		.label-app
			display: block
			width: 80px
			height: 40px
			margin-left: 16px

		.label-g-pl
			display: block
			width: 80px
			height: 40px
			margin-left: 8px

		.title-mt-58px
			margin-top: 58px
			