*
  margin: 0
  box-sizing: border-box
  font-family: "Roboto Flex", sans-serif
  font-size: 40px
  color: #090909

.main
  position: relative
  width: 1148px
  margin: 0 auto
  

.tabs
  top: 276px
  right: 1px
  position: absolute

  &__list
    display: block
    position: relative
    font-size: 20px
    font-weight: 700
    line-htight: 24px
    color: #fff
    list-style-type: none
    cursor: pointer
    &:before
      position: absolute
      content: ""
      width: 11px
      height: 11px
      border-radius: 50%
      top: 7px
      right: 34px
      background-color: #6A6A6A

  &__list--active
    color: #5337FF
    &:before

      position: absolute
      content: ""
      width: 11px
      height: 11px
      border-radius: 50%
      top: 7px
      right: 34px
      background-color: #5337FF

    &:after
      position: absolute
      content: ""
      width: 15px
      height: 15px
      top: 4px
      right: 31px
      border-radius: 50%
      border: 1px solid #5337FF
.logo
  margin: 4px 0 4px 0
.title

  font-size: 40px
  line-height: 44px
  letter-spacing: -0.5px
  font-stretch: 151
  font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738

.container
  display: flex
  flex-direction: column
  justify-content: space-between
  // align-items: stretch
  max-width: 1148px
  height: 800px
  padding: 48px 10px 32px 10px
  margin: 0 auto

.label-orng
  display: flex
  justify-content: center
  align-items: center
  width: 144px
  height: 32px
  background-color: #FF6700
  border-radius: 8px
  font-size: 14px
  font-weight: 500
  color: #fff
  font-stretch: 151
  font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738

.links-store
  position: relative
  margin-top: 61px

  &__app
    width: 179px
    height: 64px
    margin-right: 24px

  &__goo
    width: 200px
    height: 64px
.label

.wrapper

.down-link
  display: flex
  justify-content: center
  align-items: center

  font-weight: 500
  font-size: 14px
  line-height: 20px
  letter-spacing: 0.25px
  text-decoration: none
  cursor: pointer
  &__img
    width: 24px
    height: 24px
    margin-right: 8px

.screen-1
  display: none
  max-width: 1440px
  height: 800px
  background: url('../img/woman3.jpg') center center/cover no-repeat
  margin: 0 auto
  background-color: #E5E5E5
  &__inner
    height: 93%
    display: flex
    flex-direction: column
    justify-content: space-between

  &__wrapper
    // width: 1128px
    margin-top: 33px
    display: flex
    justify-content: space-between

  &__descr
    // position: relative
    width: 413px
    margin-top: 142px
  &__label-orng
    position: absolute
    top: -10px
    right: 155px
    display: flex
    justify-content: center
    align-items: center
    width: 144px
    height: 32px
    background-color: #FF6700
    border-radius: 8px
    transform: rotate(-15deg)
    font-size: 14px
    font-weight: 500
    color: #fff
    font-stretch: 151
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 499, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738

  &__img
    width: 264px
    height: 534px
    display: block
    margin-right: 96px

.logo-top
  display: flex
  justify-content: space-between
  &__labels
    display: flex
    // justify-content: space-between
    align-items: center
    width: 328px

.label-orng

.label-app
  display: block
  width: 80px
  height: 40px
  margin-left: 16px

.label-g-pl
  display: block
  width: 80px
  height: 40px
  margin-left: 8px

.title-mt-58px
  margin-top: 58px

.screen-2
  display: none
  &__cards
    display: flex
    justify-content: space-between
    width: 984px
    height: 432px
    margin-top: 48px

  &__card
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 312px
    height: 432px
    background: #5337FF
    border-radius: 24px

  &__card-2
    background-color: #56ABFF

  &__card-3
    background-color: #883FFF

  &__card-inner
    padding-top: 24px
    margin-left: 24px

  &__card-numb
    font-weight: 700
    font-size: 64px
    line-height: 64px

    letter-spacing: -0.5px
    color: #FFFFFF

  &__card-descr
    width: 264px
    height: 56px
    font-weight: 700
    font-size: 20px
    line-height: 28px
    color: #FFFFFF
    margin-top: 16px

  &__card-pict
    display: flex
    justify-content: space-between
    width: 312px
    height: 196px
    border-radius: 24px
    background: url('../img/cards/1-1.jpg') center center/cover no-repeat
    margin-bottom: 24px
    padding: 24px 24px 0 24px

  &__img3
    width: 258px
    height: 256px
    margin-left: 27px

.card-title
  font-weight: 750
  font-size: 20px
  line-height: 24px
  color: #FFFFFF

.label-white
  display: flex
  justify-content: center
  align-items: center
  width: 149px
  height: 32px
  background: #fff
  border-radius: 8px
  font-style: normal
  font-weight: 750
  font-size: 14px
  line-height: 20px
  color: #090909
  font-stretch: 151

/* .label-app
 img
 width: 80px
 height: 40px */
/* .label-g-pl
 img
 width: 80px
 height: 40px  */

.screen-3
  display: none
  &__slider-wrapper
    position: relative
    width: 1032px
    // height: 588px
    margin-top: 56px
    .slick-prev
      position: absolute
      background-color: #fff
      border: none
      top: 325px
      right: 143px
      z-index: 1
      cursor: pointer
      img
        width: 40px
        height: 40px
    .slick-next
      position: absolute
      background-color: #fff
      border: none
      top: 325px
      right: 90px
      z-index: 1
      cursor: pointer
      img
        width: 40px
        height: 40px
  &__title
    margin-top: 80px
    width: 900px

  &__slider
    // position: relative
    // width: 1366px
    width: 1032
    // height: 588px
    margin: 0 auto

.slide-1

  background: url('../img/cards/4.png') center center/cover no-repeat

.slide
  width: 456px
  height: 288px
  display: flex
  justify-content: space-between

  padding: 24px 24px 0 24px
  border-radius: 24px

.slide-2

  background: url('../img/cards/5.png') center center/cover no-repeat

.slide-3
  background: url('../img/cards/6.png') center center/cover no-repeat

.slide-4
  background: url('../img/cards/7.png') center center/cover no-repeat

.slide-5
  background: url('../img/cards/8.png') center center/cover no-repeat

.screen-4
  background-color: #F5F5F5
  &__title
    width: 800px
    margin-top: 74px
  &__cards
    // position: revative
    display: flex
    justify-content: space-between
    width: 503px
    margin-top: 88px
    z-index: 1
  &__card
    display: block
    // position: revative
    width: 167px
    height: 257px
    background-color: #FFF
    border-radius: 16px
    padding: 16px 0 0 16px
    // z-index: 10

  &__card-top
    display: flex
    align-items: center
    span
      font-weight: 700
      font-size: 12px
      line-height: 0px
      margin-left: 8px

  &__card-icon
    text-align: center
    width: 80px
    height: 80px
    background: #E0E0E0
    border-radius: 100%
    padding: 15px 0 0 14px
    margin-top: 85px

  &__card-icon-2
    display: flex
    justify-content: center
    align-items: center

    background-color: #EFB178
    padding: 0
  
  &__card-ring
    width: 49px
    height: 49px
    border-radius: 100%
    background-color: #EFB178

    border: 2.27151px solid #955B32

  &__card-icon-3
    
    background-color: #C50002
    padding: 13.79px 

  &__card-img
    display: block
    position: absolute
    // top: 390px
    // left: 370px
    z-index: 5
    top: 8px
    left: 23px
    

  &__card-title
    font-size: 14px
    font-weight: 700
    line-height: 130%
    color: #090909
    margin-top: 8px
.ggg
  display: block
  position: relative
  background: url('../img/cards/8.png') center center/cover no-repeat
  // background-color: #FFF
  z-index: 7
  top: 0px






.slide--active
  
  display: block
@import "media"
