@media (max-width: 1200px)
    .team
        &__item-img
            width: 310px
    .pricing
        &__wrapper
            justify-content: space-around
        &__item
            width: 310px
    .contact
        &__map
            width: 380px
        &__form-inner
            margin-right: 25px
    .slick-prev
        left: -10px
    .slick-next
        right: -10px

@media (max-width: 991px)
    .header
        padding: 180px 0 62px 0px
        &__top
            height: 65px
        &__wrapper
            height: 65px

    .title
        font-size: 45px
    .title-big
        font-size: 45px
    .expertise__descr
        margin-left: 10px
    .magic
        &__container
            background: url('../img/man.jpg') left no-repeat rgba(255, 254, 254, 0.473)
            background-blend-mode: screen
    .portfolio
        &__content
            grid-template-rows: 200px 30px 49px 73px 82px 180px
            column-gap: 10px
            row-gap: 10px
    .team
        &__item-img
            width: 240px
    .pricing
        &__wrapper
            justify-content: space-around
        &__item
            width: 233px
    .contact
        &__map
            width: 380px
        &__form-inner
            margin-right: 25px
    .slider
        &__item-title
            width: 630px
            font-size: 30px
    .slick-prev
        left: -10px
    .slick-next
        right: -10px

@media (max-width: 991px)
    .menu
        &__link
            height: 16px
            font-size: 10px
    .logo
        &__img
            width: 25px

 