*
  box-sizing: border-box
  font-family: "Montserrat", sans-serif
  font-size: 14px
  color: #373A39
.container
  max-width: 1190px
  padding: 0 10px 0 10px
  margin: 0 auto

.logo
.menu
  
  
  &__list
    width: 590px
    display: flex
    justify-content: space-between
    list-style-type: none
    margin-bottom: 0
  &__list-item
    text-align: center
  &__link
    letter-spacing: 0.6px
    color: #373A39
    font-weight: bold
    font-size: 12px
    line-height: 14px
    
  &__line
    margin: 0 auto
    width: 50px
    height: 2px
    border: 1px solid #FCBB08
    margin-top: 9px

.header
  position: relative
  padding: 1px 0 62px 0
  height: 752px
  
  background: url('../img/header-bg.jpg') center center/cover no-repeat
  
    
  &__top
    display: none
    position: fixed
    top: 1px
    height: 94px
    width: 100%
    background-color: #fff
  &__wrapper
    margin: 0 auto
    height: 94px
    padding: 0 52px 0 52px
    max-width: 1440px
    display: flex
    justify-content: space-between
    align-items: center
  &__title
    font-weight: bold
    font-size: 100px
    line-height: 122px
    text-align: center
    color: #FFFFFF
    margin-top: 307px
  &__text
    font-weight: bold
    font-size: 16px
    line-height: 20px
    text-align: center
    letter-spacing: 2.74286px
    color: #FCBB08
    margin-top: 15px
  &__item
    position: relative
    width: 26px
    height: 43px
    border-radius: 15px
    border: 2px solid #fff
    margin: 0 auto
    margin-top: 178px
    &::before
      position: absolute
      top: 5px
      right: 8px
      content: ""
      width: 6px
      height: 6px
      border-radius: 100%
      background-color: #fff
.title
  
  font-style: normal
  font-weight: bold
  font-size: 48px
  line-height: 48px
  letter-spacing: -1.65px
  color: #242121
  &__line
    width: 60px
    height: 4px
    background: #FCBB08
    margin-top: 10px
.title-big
  font-size: 60px
  line-height: 75px




.about
  min-height: 491px
  padding: 152px 0 152px 0
  background-color: #fff
  &__inner
    display: flex
    justify-content: space-between
  &__text
    max-width: 790px
    font-weight: 300
    font-size: 14px
    line-height: 24px
    color: #373A39
    padding-left: 20px

.expertise
  
  min-height: 877px
  background-color: #fff
  padding: 143px 0 164px 0
  
  &__inner
    display: flex
    justify-content: space-between
    margin-top: 90px
  &__progress
  &__progress-item
    height: 2px
    width: 370px
  &__progress-bar
    background-color: #1D1D1D
  &__progress-content
    width: 370px
    display: flex
    justify-content: space-between
    margin-top: 5px
    margin-bottom: 30px
    margin-right: 15px
    span
      display: inline-block
      font-size: 11px
      letter-spacing: 1px
      color: #1D1D1D
      text-transform: uppercase
  &__progress-content-1
      padding-right: 16px
  &__progress-content-2
      padding-right: 54px
  &__progress-content-3
      padding-right: 36px

   
  
  
  
  &__progress-text
    max-width: 770px
  &__items
    display: flex
    justify-content: space-between
    margin-top: 117px
  &__item
    display: flex
  &__img
    
  &__descr
    max-width: 285px
    margin-left: 30px
  &__descr-title
    font-weight: bold
    font-size: 14px
    line-height: 20px
    letter-spacing: 4.29px
    color: #333333
  &__descr-text
    font-weight: 300
    font-size: 14px
    line-height: 24px
    color: #777777
    margin-top: 18px

.magic
  height: 840px
  background: url('../img/man.jpg') left no-repeat
  
  
  &__wrapper
    display: flex
    justify-content: right
  &__content
    width: 470px
    margin: 0 right
    padding-top: 100px
  &__text
    font-weight: 300
    font-size: 14px
    line-height: 24px
    color: #373A39
    margin-top: 67px

.portfolio
  min-height: 1420px
  padding: 139px 0 41px 0
  &__header
    display: flex
    justify-content: space-between
  &__tabs
    width: 566px
    display: flex
    justify-content: space-between
    align-items: center
  &__tab
    font-weight: 600
    font-size: 12px
    line-height: 12px
    letter-spacing: 2px
    text-transform: uppercase
    color: #333333
    &_active
      &::after
        height: 2px
        width: 33px
        background-color: #FCBB08
        

    


  
  
    
    
