*
  margin: 0
  box-sizing: border-box
  font-family: "Montserrat", sans-serif
  font-size: 14px
  color: #373A39
.container
  max-width: 1170px
  padding: 0 10px 0 10px
  margin: 0 auto
.logo
.menu
  z-index: 10
  
  width: 590px
  display: flex
  justify-content: space-between
  list-style-type: none
  margin-bottom: 0
  &__list
    text-align: center
    &_active 
      &::after
        content: ""
        display: block
        height: 2px
        background-color: #FCBB08
  &__link
    display: block
    height: 24px
    letter-spacing: 0.6px
    color: #373A39
    font-weight: bold
    font-size: 12px
    line-height: 14px
    margin: 0 6px 0 6px
    text-decoration: none
    &:hover
      text-decoration: none
      color: #373A39
.nav
  position: fixed
  top: 0px
  width: 100%
  background-color: #fff
  z-index: 10
  &__wrapper
    max-width: 1335px
    margin: 0 auto
    height: 94px
    padding: 0 40px 0 40px
    display: flex
    justify-content: space-between
    align-items: center
    z-index: 10
.header
  position: relative
  padding: 310px 0 62px 0
  height: 100vh
  background: url('../img/header-bg.jpg') center center/cover no-repeat
  
    
  
  &__content
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%

  &__title
    font-weight: bold
    font-size: 100px
    line-height: 122px
    text-align: center
    color: #FFFFFF
    margin-top: 0px
  &__text
    font-weight: bold
    font-size: 16px
    line-height: 20px
    text-align: center
    letter-spacing: 2.74286px
    color: #FCBB08
    margin-top: 15px
  &__item
    position: relative
    width: 26px
    height: 43px
    border-radius: 15px
    border: 2px solid #fff
    margin: 0 auto
    &::before
      position: absolute
      top: 5px
      right: 8px
      content: ""
      width: 6px
      height: 6px
      border-radius: 100%
      background-color: #fff
.title
  
  font-style: normal
  font-weight: bold
  font-size: 48px
  line-height: 48px
  letter-spacing: -1.65px
  color: #242121
  &__line
    width: 60px
    height: 4px
    background: #FCBB08
    margin-top: 10px
.title-big
  font-size: 60px
  line-height: 75px
.about
  padding: 100px 0 152px 0
  background-color: #F6F8FA
  &__inner
    display: flex
    justify-content: space-between
  &__text
    max-width: 790px
    font-weight: 300
    font-size: 14px
    line-height: 24px
    color: #373A39
    padding-left: 20px
.expertise
  background-color: #fff
  padding: 143px 0 164px 0
  &__inner
    display: flex
    justify-content: space-between
    margin-top: 90px
  &__progress
    margin-right: 30px
  &__progress-item
    display: grid
    grid-template-columns: 90px 280px
    grid-template-rows: 2
    row-gap: 6px
    height: 2px
    width: 370px
    margin-bottom: 50px
  &__progress-bar
    grid-column: 1/3
    height: 2px
    width: 370px
    background-color: #F0F0F0
    span
      display: block
      height: 2px
      background-color: #1D1D1D 
  &__progress-title
    grid-column: 1/2
    display: inline-block
    font-size: 11px
    letter-spacing: 1px
    color: #1D1D1D
    text-transform: uppercase
  &__progress-counter
    grid-column: 2/3
    display: inline-block
    font-size: 11px
    letter-spacing: 1px
    color: #1D1D1D
    text-transform: uppercase  
  &__progress-counter-1
      padding-left: 235px
  &__progress-counter-2
      padding-left: 200px
  &__progress-counter-3
      padding-left: 220px
  &__progress-text
    max-width: 770px
    p
      margin-top: 0px
  &__items
    display: flex
    justify-content: space-between
    margin-top: 117px
  &__item
    display: flex
  &__descr
    max-width: 285px
    margin-left: 30px
  &__descr-title
    font-weight: bold
    font-size: 14px
    line-height: 20px
    letter-spacing: 4.29px
    color: #333333
  &__descr-text
    font-weight: 300
    font-size: 14px
    line-height: 24px
    color: #777777
    margin-top: 18px
.magic
  background-color: #F6F8FA
  &__container
    margin: 0 auto
    max-width: 1440px
    height: 840px
    background: url('../img/man.jpg') left no-repeat
  &__wrapper
    display: flex
    justify-content: right
  &__content
    width: 470px
    margin: 0 right
    padding-top: 100px
  &__text
    font-weight: 300
    font-size: 14px
    line-height: 24px
    color: #373A39
    margin-top: 67px
.portfolio 
  padding: 100px 0 41px 0
  &__header
    display: flex
    justify-content: space-between
    margin-bottom: 103px
  &__tabs
    width: 566px
    display: flex
    justify-content: space-between
    margin-top: 40px
    list-style-type: none
  &__tab
    &_active
      &::after
        content: ""
        display: block
        height: 2px
        background-color: #FCBB08
        margin-top: 8px
  &__tab-text
    display: block
    font-weight: 600
    font-size: 12px
    line-height: 12px
    letter-spacing: 2px
    text-transform: uppercase
    color: #333333
    margin: 0 6px 0 6px
    text-decoration: none
    cursor: pointer
    &_active
      &::after
        content: ""
        display: block
        height: 2px
        background-color: #FCBB08
        margin-top: 8px
  &__content
    display: none
    justify-content: center
    grid-template-columns: repeat(4, minmax(70px, 343px))
    grid-template-rows: 288px 30px 49px 127px 82px 292px
    column-gap: 22px
    row-gap: 22px
    margin: 0 auto
    margin-bottom: 22px
    &_active
      display: grid
  &__img_style
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-transform: uppercase
    transition: 1s all
    text-decoration: none
    &:hover
      transition: 1s all
      background-color: rgba(0,0,0, .8)
      background-blend-mode: overlay
      text-decoration: none
      &::before
        font-weight: 500
        font-size: 14px
        line-height: 14px
        letter-spacing: 1.4px
        color: #FFFFFF
        margin-bottom: 10px
        text-align: center
      &::after
        font-weight: 300
        font-size: 12px
        line-height: 16px
        letter-spacing: 1px
        color: #FFFFFF
        text-align: center   
  &__img-1
    background: url('../img/mogo.jpg') center center/cover no-repeat
    grid-row: 1/5
    &:hover
      background: url('../img/mogo.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "MOGO"
      &::after
        content: "DESIGN"
  &__img-2
    background: url('../img/mt.jpg') center center/cover no-repeat
    grid-row: 1/2
    &:hover
      background: url('../img/mt.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "MATRIX"
      &::after
        content: "DESIGN"
  &__img-3
    background: url('../img/pl.jpg') center center/cover no-repeat
    grid-row: 1/4
    &:hover  
      background: url('../img/pl.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "puls"
      &::after
        content: "DESIGN"
  &__img-4
    background: url('../img/15.jpg') center center/cover no-repeat
    grid-row: 1/3
    &:hover
      background: url('../img/15.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "OCCA CUPIDATAT"
      &::after
        content: "DESIGN"
  &__img-5
    background: url('../img/15.jpg') center center/cover no-repeat
    grid-row: 5/7
    &:hover
      background: url('../img/15.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "OCCA CUPIDATAT"
      &::after
        content: "DESIGN"
  &__img-6
    background: url('../img/15.jpg') center center/cover no-repeat
    grid-row: 2/6
    &:hover
      background: url('../img/15.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "OCCA CUPIDATAT"
      &::after
        content: "DESIGN"
  &__img-7
    background: url('../img/15.jpg') center center/cover no-repeat
    grid-row: 6/7
    &:hover
      background: url('../img/15.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "OCCA CUPIDATAT"
      &::after
        content: "DESIGN"
  &__img-8
    background: url('../img/15.jpg') center center/cover no-repeat
    grid-row: 4/7
    &:hover
      background: url('../img/15.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "OCCA CUPIDATAT"
      &::after
        content: "DESIGN"
  &__img-9
    background: url('../img/15.jpg') center center/cover no-repeat
    grid-row: 3/7
    &:hover
      background: url('../img/15.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "OCCA CUPIDATAT"
      &::after
        content: "DESIGN"
  &__img-10
    background: url('../img/15.jpg') center center/cover no-repeat
    grid-row: 1/5
    &:hover
      background: url('../img/15.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "OCCA CUPIDATAT"
      &::after
        content: "DESIGN"
  &__img-11
    background: url('../img/15.jpg') center center/cover no-repeat
    grid-row: 1/2
    &:hover
      background: url('../img/15.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "OCCA CUPIDATAT"
      &::after
        content: "DESIGN"
  &__img-12
    background: url('../img/15.jpg') center center/cover no-repeat
    grid-row: 1/4
    &:hover  
      background: url('../img/15.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "OCCA CUPIDATAT"
      &::after
        content: "DESIGN"
  &__img-13
    background: url('../img/15.jpg') center center/cover no-repeat
    grid-row: 1/3
    &:hover
      background: url('../img/15.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "OCCA CUPIDATAT"
      &::after
        content: "DESIGN"
  &__img-14
    background: url('../img/15.jpg') center center/cover no-repeat
    grid-row: 5/7
    &:hover
      background: url('../img/15.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "OCCA CUPIDATAT"
      &::after
        content: "DESIGN"
  &__img-15
    background: url('../img/15.jpg') center center/cover no-repeat
    grid-row: 2/6
    &:hover
      background: url('../img/15.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "OCCA CUPIDATAT"
      &::after
        content: "DESIGN"
  &__img-16
    background: url('../img/15.jpg') center center/cover no-repeat
    grid-row: 6/7
    &:hover
      background: url('../img/15.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "OCCA CUPIDATAT"
      &::after
        content: "DESIGN"
  &__img-17
    background: url('../img/15.jpg') center center/cover no-repeat
    grid-row: 4/7
    &:hover
      background: url('../img/15.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "OCCA CUPIDATAT"
      &::after
        content: "DESIGN"
  &__img-18
    background: url('../img/15.jpg') center center/cover no-repeat
    grid-row: 3/7
    &:hover
      background: url('../img/15.jpg') center center/cover no-repeat
      background-color: rgba(0,0,0, .8)
      &::before
        content: "OCCA CUPIDATAT"
      &::after
        content: "DESIGN"
  &__btn
    display: block
    margin: 0 auto
    font-weight: bold
    font-size: 14px
    color: #242121
    text-transform: uppercase
    margin-top: 114px
    border: none
    cursor: pointer
    background-color: #fff
.video
  padding: 130px 0 0 0
  &__quote
    margin: 0 auto
    width: 540px
    font-family: Merriweather
    font-style: italic
    font-weight: 300
    font-size: 18px
    line-height: 36px
    text-align: center
    color: #242121
  &__quote-author
    margin-bottom: 140px
    font-family: Merriweather
    font-style: italic
    font-weight: 300
    font-size: 14px
    line-height: 32px
    text-align: center
    color: #9E9E9E
    margin-top: 51px
  &__content
    display: block
    margin: 0 auto
    margin-top: 148px
    width: 100%
    height: 324px
    // background: url('../img/video.jpg') center center/cover no-repeat
.counters
  padding: 164px 0 166px 0
  &__wrapper
    display: flex
    justify-content: space-around
  &__num
    font-family: Montserrat
    font-weight: bold
    font-size: 60px
    line-height: 60px
    color: #242121
  &__descr
    font-family: Open Sans
    font-size: 14px
    line-height: 14px
    color: #00B2A0
    margin-top: 20px
.slider
  margin-bottom: 114px
  &__items
    width: 100%
    padding-left: 50px
    padding-right: 50px
    // margin: 0 auto
    
    
    
  &__item-title
    width: 750px
    font-family: Montserrat
    font-weight: bold
    font-size: 40px
    line-height: 52px
    color: #242121
  &__item-text
    width: 500px
    font-family: Open Sans
    font-weight: 300
    font-size: 14px
    line-height: 24px
    color: #777777
    margin-top: 32px

.slick-dots
  text-align: center
  display: flex // поставить кнопки в ряд
  justify-content: left // выровнять по центру
  list-style: none
  margin-top: 190px
  padding-left: 0px
  button
    font-size: 0px
    background: #242121 // цвет фона
    border: none // без рамки
    border-radius: 50% // радиус закругления
    height: 6px // высота точки
    width: 6px // ширина точки
    margin-right: 13px // отступы между точками
    outline: none
    opacity: 0.4
    padding: 0px   
.slick-active
  button
    height: 10px
    width: 10px
    background: #242121
    opacity: 1
.slick-prev
  position: absolute
  left: -30px
  top: 25%
  border: none
  background-color: transparent
  z-index: 9
  cursor: pointer
.slick-next
  position: absolute
  right: -30px
  top: 25%
  border: none
  background-color: transparent
  z-index: 9
  cursor: pointer

.team
  padding: 100px 0 192px 0
  &__wrapper
    display: flex
    justify-content: space-between
    margin: 0 auto
    margin-top: 102px
  &__item-img
    width: 370px
  &__item-text
    text-align: center
    font-weight: 700
    font-size: 14px
    line-height: 14px
    color: #333333
    margin-top: 35px
.pricing
  padding: 144px 0 162px 0
  background: #F6F8FA
  &__wrapper
    display: flex
    justify-content: space-between
    margin-top: 90px
  &__item
    width: 370px
     min-height: 583px
    background-color: #fff
    padding: 26px 0 53px 0
  &__item-title
    font-family: 'Open Sans'
    font-weight: 700
    font-size: 16px
    line-height: 16px
    color: #242121
    margin-left: 25px
  &__item-rate
    text-align: center
    font-family: 'Open Sans'
    font-weight: 300
    font-size: 80px
    line-height: 64px
    color: #242121
    margin-top: 30px
    /* &::before
     content: "$"
     font-family: 'Open Sans'
     font-weight: 300
     font-size: 40px
     line-height: 40px
     color: #242121
     vertical-align: top */

    span
      font-family: 'Open Sans'
      font-weight: 300
      font-size: 20px
      line-height: 20px
      color: #242121
    sup
      padding-right: 5px
      font-size: 40px
      font-family: 'Open Sans'
      font-weight: 300
      font-size: 40px
      line-height: 40px
      color: #242121
  &__list
    
    height: 230px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    list-style-type: none
    padding-left: 0px
    margin-top: 74px
    margin-bottom: 0px
  &__list-item
    display: block
    margin: 0 auto
    font-family: 'Open Sans'
    font-weight: 300
    font-size: 16px
    line-height: 16px
    text-align: center
    color: #242121
  &__item-link
    display: block
    text-align: center
    margin-top: 70px
    font-family: 'Montserrat'
    font-weight: 700
    font-size: 14px
    line-height: 17px
    letter-spacing: 1.2px
    color: #242121
    text-decoration: none
    text-transform: uppercase
.contact
  padding: 0 0 0 0
  &__title
    margin-top: 145px
  &__wrapper
    display: flex
    justify-content: space-between
  &__input
    height: 38px
    margin-bottom: 32px
    
    border-top: none
    border-left: none
    border-right: none
    border-color: #373A39
  &__textarea
    min-height: 156px
    border-top: none
    border-left: none
    border-right: none
    border-color: #373A39
    resize: none
    border-width: 2px
  &__form
    display: flex
    flex-direction: column
    margin-top: 94px
  &__form-inner
    width: 569px
    margin-right: 40px
  &__submit
    width: 230px
    height: 45px
    background: #242121
    margin-top: 40px
    font-family: 'Montserrat'
    font-weight: 700
    font-size: 11px
    line-height: 13px
    text-align: center
    letter-spacing: 2px
    color: #FFFFFF
  &__map
    width: 490px
.footer
  position: relative
  height: 652px
  background-color: #373A39
  padding-top: 110px
  &__logo
    display: block
    margin: 0 auto
    margin-bottom: 25px
  &__divider
    width: 150px
    height: 2px
    background: #FCBB08
    margin: 0 auto
    margin-bottom: 73px
  &__social
    width: 692px
    display: flex
    justify-content: space-around
    margin: 0 auto
    margin-bottom: 70px
  &__social-link
    font-family: 'Montserrat'
    font-weight: 300
    font-size: 12px
    line-height: 12px
    letter-spacing: 4px
    color: #FFFFFF
    text-decoration: none
  &__contacts, &__contact
    font-family: 'Open Sans'
    font-weight: 400
    font-size: 14px
    line-height: 32px
    text-align: center
    color: #A8A8A8
    display: flex
    flex-direction: column
    text-decoration: none
  &__contacts-60px
    margin-bottom: 60px
  &__arrow
    display: block
    margin: 0 auto
  &__end
    height: 100px
    width: 100%
    background: #2A2C2B
    position: absolute
    bottom: 1px
    text-align: center
    padding-top: 43px
    font-family: 'Open Sans'
    font-weight: 400
    font-size: 12px
    line-height: 16px
    color: #CCCCCC

@import "media"











  

  

  
        

    


  
  
    
    
